<nav class="navbar navbar-toggler">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="nav">
      <ul class="nav nav-nav">
        <li class="mx-5"><a routerLink="/recipes" class={{getClassForRecipes()}}>Recipes</a></li>
        <li class="mx-5"><a routerLink="/shopping-list" class={{getClassForShoppingList()}}>Shopping-list</a></li>
      </ul>
      <div class="nav navbar-right">
        <div class="dropdown" app-dropdown>
          <a class="btn btn-light dropdown-toggle" href="#" id="header_manage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">manage</a>
          <div class="dropdown-menu" aria-labelledby="header_manage">
            <a class="dropdown-item" href="#">Save Data</a>
            <a class="dropdown-item" href="#">Fetch data</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
