<nav class="navbar navbar-toggler">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="nav">
      <ul class="nav nav-justified">
        <li class="mx-5"><a href="#" (click)="onSelect('recipes')">Recipes</a></li>
        <li class="mx-5"><a href="#" (click)="onSelect('shopping-list')">Shopping-list</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">manage</a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
