<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-sm-12">
    <img src="{{ recipe.imagePath }}" alt="recipe image" class="img-thumbnail"
    style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="dropdown" app-dropdown>
      <a class="btn btn-light dropdown-toggle" href="#" id="recipe_manage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">manage recipe</a>
      <div class="dropdown-menu" aria-labelledby="recipe_manage">
        <a class="dropdown-item" href="#">to shopping list</a>
        <a class="dropdown-item" href="#">edit recipe</a>
        <a class="dropdown-item" href="#">delete recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor="let i of recipe.ingredients">{{ i.name }} - {{ i.amount }}</li>
    </ul>
  </div>
</div>
